

h1, h2 {
    text-align: center;    
}    


#content {
    margin-top: 10%;
    margin-left: 100px;
    /* background-color: lightskyblue; */
    /* float: right; */
    height: 100%;
    width: 100%;
    /* display: inline; */
    padding: 6%;
    font-size: 12pt;
}


/* .filterItem { */
/*     display: none; */
/* } */

#controls {
   
    margin-left: 30%;
    position: absolute;
    /* padding: 10%; */
    align-content: center-right;
    
}

#navpanel {
    
    float:         left;
    position:      fixed;
    width:         100px;
    height:        100%;

    display:       inline;
    margin:        0;
    padding:       0;
    margin-right:  6px;

    background-color: #C5E5F1;
}    


#navpanel ul {
    list-style-type: disc;
    margin-left: -20px;
}    

#navpanel li a:hover {
    background-color: #555;
    color: cyan;
    
}    



.itemTable {
    display:table;
    width:100%;
    table-layout:fixed;
    /* border-top: thick double #ff0000; */
    padding: 10px;
   
}


.itemTable td:nth-child(1){
    background-color:aqua;
    display:table-cell;  
    white-space:nowrap;
}

.itemTable td:nth-child(2) {
    background-color: lightcyan;
    width: 90%;

    white-space:nowrap;
    
}

.itemTable tbody tr:nth-child(1) td:nth-child(2) {
   /* Styles goes here */
     font-weight: bold;
}

