
h1 {
    text-align: center;
    color: rgb(78,98,114);
    font-size: 37px;
}    

h2 {
    text-align: center;
    color: rgb(78,98,114);
}    


a:visited {
    text-decoration: none;
    color: blue;
}

a:active {
    text-decoration: underline;
    color: blue;
}



#content {
    margin-top:  5%;
    margin-left: 100px;
    /* background-color: lightskyblue; */
    /* float: right; */
    height: 100%;
    width: 100%;
    /* display: inline; */
    padding: 6%;
    font-size: 12pt;
    max-width: 80%;
}


#top {
    position: relative;
    float:     top;
    margin-bottom: 2pt;
    display: block;
    height: 10%;
}

#controls {
   
    margin-left: 12%;
    /* position: absolute; */
    /* padding: 10%; */
    /* align-content: center-right; */

    position: relative;
    float: left;
    diplay: block;
    background-color: lightgray;

}

#navpanel {
    
    float:         left;
    position:      fixed;
    width:         10%;
    height:        100%;

    display:       block;
    margin:        0;
    padding:       0;
    margin-right:  6px;
    /* margin-top:   -20px; */

    background-color: darkcyan;
    
}    

.navbutton {
    display: block;
    width:   90%;
    height:  30px;
    background:  darkblue;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}    

.navbutton:active {
    color: white;
    text-decoration: none;

}

.navbutton:visited {
    color: white;
    text-decoration: none;
}    

#searchPanel {
    position: relative;
    float: left;
    margin-left: 10px;

}


table {
    border: 1px #ccc solid;
    overflow: auto;
    width: 100%;
    margin: .1em auto .75em;
    padding: 0.5em;
}

td {
    padding-left: .10em;
}

th {
    vertical-align: top;
    text-align: right;
    width: 15%;
    white-space: nowrap;
    word-wrap: break-word;
}

.itemTable {
    display:table;
    width: 90%;
    table-layout:fixed;
    /* border-top: thick double #ff0000; */
    /* padding: 30px; */
    align: left;
    
    /* background-color: #55ff77; */
   
}

.itemTable th {
 
    vertical-align: top;
    text-align: right;
    width: 15%;
    white-space: nowrap;
    word-wrap: break-word;
}

.itemTable td {
    border-collapse:collapse;
    text-align: left;
}




.itemTable td:nth-child(1) {
    /* background-color: gray; */
    display:table-cell;
    white-space:nowrap;
    font-weight: bold;
    width: 20%;
}

.itemTable tbody tr:nth-child(1) td:nth-child(2) {
   /* Styles goes here */
     font-weight: bold;
}


.itemAttribRow {
    list-style-type: none;  /* Hide points */
}

.itemAttribRow li {
    float: left;            /* Bullet list horizontal */
    padding-left: 0px;
    diplay: block;
    padding-right: 10px;
    
}

.fiterItem {

    max-width: 80%;
    overflow:  hidden;
    word-wrap: break-word;
    margin-top: 15px;    
    padding-top: 15px;
    display: table-cell;
    margin-bottom: 1em;
}

.filterItem li {
    margin:     1em 0;    
    display:    inline-block;
    font-size:  14px;
    /* margin: 0 0 10px 0; */
}




.filterItem a {
    color: red;
}

.filterItem a:visited{
    color: red;
}


.pageLink {
    margin-top: 120px;
    margin-left: 10px;
    width:   115px;
    height:  15px;
    background:  darkblue;
    padding: 10px;
    text-align: left;
    border-radius: 15px;
    color: white;
    font-weight: bold;    
}    

.pageLink:active {
    color: white;
    text-decoration: none;

}

.pageLink:visited {
    color: white;
    text-decoration: none;
}    



.zoteroItem {

   border-bottom-width: 3px;
   border-bottom-color: blue;
   border-bottom-style: solid;

}
